<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../partials/head', {metaTitle : "サンプルアプリのトップページ"}); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main><%- include('../partials/body'); %></main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
